<h1>Users</h1>
<a class="btn btn-primary add-user-btn" [routerLink]="['New User']">Add User</a>
<div *ngIf="isLoading">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<table class="table table-bordered">
	<tr *ngIf="users">
		<th>Name</th>
		<th>Email</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<tr *ngFor="#user of users">
	  <td>{{ user.name }}</td>
	  <td>{{ user.email }}</td>
	  <td><a [routerLink]="['Edit User', { id: user.id }]"><i class="glyphicon glyphicon-edit"></i></a></td>
	  <td><i class="glyphicon glyphicon-remove"></i></td>
	</tr>
</table>