<h1>Users</h1>
<a class="btn btn-primary add-user-btn" [routerLink]="['New User']">Add User</a>
<spinner [visible]="isLoading"></spinner>
<table class="table table-bordered">
	<tr *ngIf="users">
		<th>Name</th>
		<th>Email</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<tr *ngFor="#user of users">
	  <td>{{ user.name }}</td>
	  <td>{{ user.email }}</td>
	  <td><a [routerLink]="['Edit User', { id: user.id }]"><i class="glyphicon glyphicon-edit"></i></a></td>
	  <td><i class="glyphicon glyphicon-remove" (click)="deleteUser(user)"></i></td>
	</tr>
</table>